<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Başvuru Formu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>Başvuru Formu</h1>
<div class="content">
<form action="#" th:action="@{/application}" th:object="${applicationModel}"
      onsubmit="return validateForm()" method="post">
    <table>
        <tr>
            <td>Kimlik Numarası:</td>
            <td><input type="text" th:field="*{personalId}" autofocus
                       placeholder="11 rakam"
                       id="personalId" title="11 rakam"></td>
        </tr>
        <tr>
            <td>Adı Soyadı:</td>
            <td><input type="text" th:field="*{name}"
                       placeholder="En az iki kelime"
                       id="name" title="En az iki kelime"></td>
        </tr>
        <tr>
            <td>ALES Puanı:</td>
            <td><input type="text" th:field="*{alesScore}"
                       placeholder="70.0 - 100.0 aralığında"
                       id="alesScore" title="70.0 - 100 aralığında"></td>
        </tr>
        <tr>
            <td>YDS Puanı:</td>
            <td><input type="text" th:field="*{ydsScore}"
                       placeholder="70.0 - 100.0 aralığında"
                       id="ydsScore" title="70.0 - 100 aralığında"></td>
        </tr>
        <tr>
            <td>Not Ortalaması:</td>
            <td><input type="text" th:field="*{gpaScore}"
                       placeholder="00.0 - 100.0 aralığında"
                       id="gpaScore" title="00.0 - 100.0 aralığında"></td>
        </tr>
        <tr>
            <td>E-posta Adresi:</td>
            <td><input type="text" th:field="*{email}"
                       placeholder="mail@mail.com formatında"
                       id="email" title="mail@mail.com formatında"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Kaydet" id="submit"></td>
        </tr>
    </table>
</form>
</div>
<script>
    let personalId = document.getElementById("personalId");
    let name = document.getElementById("name");
    let alesScore = document.getElementById("alesScore");
    let ydsScore = document.getElementById("ydsScore");
    let gpaScore = document.getElementById("gpaScore");
    let email = document.getElementById("email");

    alesScore.value=""
    ydsScore.value=""
    gpaScore.value=""

    function validateForm() {
        let validCount = 0
        if(personalId.value==""||!/^\d{11}$/.test(personalId.value)) {
            personalId.className = "invalidTextBox";
        }
        else {
            personalId.className = "";
            validCount++;
        }
        if(name.value==""||!/^[a-zA-ZığüşöçĞÜŞÖÇİ]+( ([a-zA-ZığüşöçĞÜŞÖÇİ]+))+$/.test(name.value)) {
            name.className = "invalidTextBox";
        }
        else {
            name.className = "";
            validCount++;
        }
        if(alesScore.value==""||!/^100(\.[0]{1,4})?|([7-9][0-9])(\.[0-9]{1,4})?$/.test(alesScore.value)) {
            alesScore.className = "invalidTextBox";
        }
        else {
            alesScore.className = "";
            validCount++;
        }
        if(ydsScore.value==""||!/^100(\.[0]{1,4})?|([7-9][0-9])(\.[0-9]{1,4})?$/.test(ydsScore.value)) {
            ydsScore.className = "invalidTextBox";
        }
        else {
            ydsScore.className = "";
            validCount++;
        }
        if(gpaScore.value==""||!/^100(\.[0]{1,4})?|([0-9]|[7-9][0-9])(\.[0-9]{1,4})?$/.test(gpaScore.value)) {
            gpaScore.className = "invalidTextBox";
        }
        else {
            gpaScore.className = "";
            validCount++;
        }
        if(email.value==""||!/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/.test(email.value)) {
            email.className = "invalidTextBox";
        }
        else {
            email.className = "";
            validCount++;
        }
        console.log("validCount = " + validCount);
        return validCount == 6;
    }
</script>
</body>
</html>