<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Başvuru Formu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>Başvuru Formu</h1>
<div class="content">
<form action="#" th:action="@{/application}" th:object="${applicationModel}"
      onsubmit="return validateForm()" method="post">
    <table>
        <tr>
            <td>Kimlik Numarası:</td>
            <td><input type="text" th:field="*{personalId}" autofocus
                       placeholder="11 rakam"
                       id="personalId" title="11 rakam"></td>
        </tr>
        <tr>
            <td>Adı Soyadı:</td>
            <td><input type="text" th:field="*{name}"
                       placeholder="En az iki kelime"
                       id="name" title="En az iki kelime"></td>
        </tr>
        <tr>
            <td>ALES Puanı:</td>
            <td><input type="text" th:field="*{alesScore}"
                       placeholder="70.0 - 100.0 aralığında"
                       id="alesScore" title="70.0 - 100 aralığında"></td>
        </tr>
        <tr>
            <td>YDS Puanı:</td>
            <td><input type="text" th:field="*{ydsScore}"
                       placeholder="70.0 - 100.0 aralığında"
                       id="ydsScore" title="70.0 - 100 aralığında"></td>
        </tr>
        <tr>
            <td>Not Ortalaması:</td>
            <td><input type="text" th:field="*{gpaScore}"
                       placeholder="50.0 - 100.0 aralığında"
                       id="gpaScore" title="50.0 - 100.0 aralığında"></td>
        </tr>
        <tr>
            <td>E-posta Adresi:</td>
            <td><input type="text" th:field="*{email}"
                       placeholder="mail@mail.com formatında"
                       id="email" title="mail@mail.com formatında"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Kaydet" id="submit">
                <input type="button" value="Doldur" id="fill" onclick="fillForm()">
                <input type="button" value="Temizle" id="reset" onclick="resetForm()"></td>
        </tr>
    </table>
</form>
</div>
<script src="/validation.js"></script>
</body>
</html>