body {
    font-size: 11pt;
    font-family: 'Varela Round', sans-serif;
    margin: 50px;
}
h1 {
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 15px;
}
.content {
    margin-left: 3px;
}
input {
    font-size: 11pt;
    font-family: 'Varela Round', sans-serif;
    margin-left: 10px;
}
input#submit, input#fill, input#reset {
    margin-top: 10px;
    padding: 8px;
    border: 0;
    background: #eeeeee;
    cursor: pointer;
}

input#submit:hover, input#fill:hover, input#reset:hover {
    background: #dedede;
}

input[type=text] {
    width: 220px;
    margin-top: 5px;
    border: 2px solid #cccccc;
    padding: 6px;
}

input.invalidTextBox {
    border: 2px solid #f17362;
}