body {
    font-size: 11pt;
    font-family: 'Varela Round', sans-serif;
    margin: 50px;
}
h1 {
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 15px;
}
input {
    font-size: 11pt;
    font-family: 'Varela Round', sans-serif;
    padding: 6px;
    margin-left: 10px;
}
#submit {
    margin-top: 10px;
}
input[type=text], input[type=email] {
    width: 220px;
    margin-top: 5px;
}
#error {
    color: red;
    display: block;
    margin-bottom:10px;
}

.content {
    margin-left: 3px;
}